In [7]:
import pandas as pd
import numpy as np

In [8]:
data=data=pd.read_csv('Data/13000_triv_nontriv_spdf_binary.csv')
pt=pd.read_csv('Data/PeriodicTablesdpf.csv')

In [9]:
pt.head()

,Element,Symbol,NumberofElectrons,s,p,d,f,sv,pv,dv,...,Phase,Metal,Nonmetal,Metalloid,AtomicRadius,Electronegativity,FirstIonization,Density,NumberofShells,NumberofValence
0,Hydrogen,H,1,1,0,0,0,1.0,0.0,0.0,...,gas,NaN,yes,NaN,0.79,2.20,13.5984,0.000090,1,1.0
1,Helium,He,2,2,0,0,0,2.0,0.0,0.0,...,gas,NaN,yes,NaN,0.49,NaN,24.5874,0.000179,1,NaN
2,Lithium,Li,3,3,0,0,0,1.0,0.0,0.0,...,solid,yes,NaN,NaN,2.10,0.98,5.3917,0.534000,2,1.0
3,Beryllium,Be,4,4,0,0,0,2.0,0.0,0.0,...,solid,yes,NaN,NaN,1.40,1.57,9.3227,1.850000,2,2.0
4,Boron,B,5,4,1,0,0,2.0,1.0,0.0,...,solid,NaN,NaN,yes,1.20,2.04,8.2980,2.340000,2,3.0

In [10]:
E1_dict = dict(zip(pt['Symbol'],pt['E1']))

In [11]:
E2_dict = dict(zip(pt['Symbol'],pt['E2']))

In [13]:
data.head()

,NoE,Stoich. Formula,SG,Point Group,Top_Class,split,feat_vector,s_bin,p_bin,d_bin,...,F_mean,F_var,row_mean,row_var,col_mean,col_var,en_mean,en_var,rad_mean,rad_var
0,252,YCu(WO4)2,1,C1,0,"['Y', 'Cu', 'W', 'O', 'O', 'O', 'O', 'W', 'O',...","[2.0, 0.0, 2.6666666666666665, 1.8856180831641...",1,1,1,...,2.333333,5.217492,3.083333,1.605113,26.833333,4.775516,2.946667,0.747901,1.091667,0.640909
1,144,TeSeO4,1,C1,0,"['Te', 'Se', 'O', 'O', 'O', 'O']","[2.0, 0.0, 4.0, 0.0, 3.3333333333333335, 4.714...",1,1,1,...,0.000000,0.000000,2.833333,1.213352,30.000000,0.000000,3.068333,0.541431,0.866667,0.311805
2,208,SrCaB5H2ClO10,1,C1,0,"['Sr', 'Ca', 'B', 'B', 'B', 'B', 'B', 'H', 'H'...","[1.9, 0.3, 2.5, 1.8027756377319946, 0.0, 0.0, ...",1,1,0,...,0.000000,0.000000,2.200000,0.871780,23.600000,11.128342,2.705500,0.846094,0.987500,0.509950
3,104,Si4P4Ru,1,C1,0,"['Si', 'Si', 'Si', 'Si', 'P', 'P', 'P', 'P', '...","[2.0, 0.0, 2.2222222222222223, 0.9162456945817...",1,1,1,...,0.000000,0.000000,3.222222,0.628539,27.777778,2.096440,2.062222,0.145127,1.411111,0.223331
4,128,Si3P2Pt,1,C1,0,"['Si', 'Si', 'Si', 'P', 'P', 'Pt']","[2.0, 0.0, 2.0, 1.0, 1.3333333333333333, 2.981...",1,1,1,...,2.333333,5.217492,3.500000,1.118034,27.666667,1.699673,2.060000,0.162788,1.450000,0.206155

In [14]:
comp=data['split']

In [15]:
comp[1][1]

"'"